
.body {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.welcome {
    background: #D9D9D9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: left;
    align-content: center;
    width: 50%;
}

.welcome h3 {
    padding: 10px;
}

.welcome p {
    padding: 10px;
    text-indent: 1cap;
}

img {
    border-radius: 20px;
}

.image {
    max-width: 45%;
    margin: 20px;
}

.messages {
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    width: 96%;
}

.messages p {
    text-align: center;
    font-weight: bolder;
}