/* Reservation page styling */
.welcomeuser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #D9D9D9;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.welcomeuser h2 {
    font-family: 'Times New Roman', serif;
    font-size: 36px;
    /*font-style: italic;*/
    color: #333;
    margin: 0;
    padding-left: 10px;
    text-decoration: none;
}

.reservationform {
    background: #D9D9D9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    text-align: left;
    min-width: 800px;
    max-width: 1000px;
    display: inline-block;
}

.reservationform h3 {
    margin: 15px 15px;
}

.messages {
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    width: 95%;
    justify-self: stretch;
}

.messages p {
    text-align: center;
    font-weight: bolder;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    width: 50%;
    padding: 10px;
    align-self: left;
}

.visual {
    background-color: #ccc;
    width: 45%;
    margin: 20px;
}

.visual img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 1px 0px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block;  
    text-align: center;
    font-size: medium;
    width: 50%;
}

.button:hover {
    background-color: #555;
}

.button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.form-body {
    display: inline-flex;
    justify-content: space-between;
}

.form-body form {
    display: flex;
    align-content: start;
}

.form-group {
    margin-bottom: 10px;
    width: 48%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.form-group a {
    all: unset;
    padding: 7px 0px 6px 0px;
    background: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-size: medium;
    text-align: center;
    width: 100%;
    margin-top: 6px;
}

.form-group a:hover {
    background: #555;
}

.reservationform button {
    padding: 8px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 15px 15px 15px;
    display: block;
}

.reservationform button:hover {
    background: #555;
}

.search {
    background: #D9D9D9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    text-align: left;
}

.search a {
    padding: 8px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 50%px;
    display: inline-block;
}

.search a:hover {
    background: #555;
}

.search h3 {
    margin-bottom: 15px;
    width: 100%;
}

.userreservations {
    background: #D9D9D9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    text-align: left;
    min-width: 800px;
    max-width: 1000px;
    display: block;
}

.userreservations h3 {
    margin: 5px 5px 5px 15px;
}

.noreservation {
    margin: 10px 3px 5px 5px;
    padding: 8px 10px;
    background-color:#f0f0f0;
}

.reservation {
    padding: 0px;
    margin: 10px;
    display: flex;
    justify-content: stretch;
    border-radius: 20px;
    background-color:#f0f0f0;
    border-color: #b1b1b1;
    width: 97%;
    justify-content: space-between;
}

.result-number {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.result-text {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 75px;
    justify-content:space-between;
    width: 70%;
}

.result-item {
    padding: 3px 3px;
    margin: 3px 0px;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.result-item-field {
    display: inline-flex;
}

.result-item-content {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-flex;
    width: 50%;
}

.result-options {
    display: flex;
    align-content: space-around;
    justify-self: right;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
    padding-left: 75px;
    background-color:
     #f0f0f0;
}

.result-options a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #d3d3d3;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
}

.result-options a:hover {
    background-color: #a9a9a9;
}

.search-container {
    display: flex;
    gap: 20px; /* Adds space between the sections */
    justify-content: space-around; /* Adjusts alignment */
}

.search {
    border: 1px solid #ccc; /* Optional: adds a border for better visibility */
    padding: 10px;
    text-align: center; /* Centers text within each section */
}
