{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Check-in Reservations</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/CheckinReservationPage.css'%}">
</head>
<body>
    <main class="main">
        <div class="container">
            {% if messages %}
            <div class="message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <header>
                <h1>Seahawk Restaurant</h1>
                <nav>
                <a href="{% url 'reservation_page' %}">Reservations</a>
                <a href="{% url 'viewall_reservations' %}" id="currentpage">All Reservations</a>
                <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
                </nav>  
            </header>
            <!-- res details -->
            <div class="reservation-details">
                <h3>Reservation Details</h3>
                <div class="reservation">
                    <div class="result-item">
                        <p class="result-item-field">Name:</p>
                        <p class="result-item-content">{{ reservation.reservedBy.first_name }} {{ reservation.reservedBy.last_name }}</p>
                    </div>
                    <div class="result-item">
                        <p class="result-item-field">Date:</p>
                        <p class="result-item-content">{{ reservation.date }}</p>
                    </div>
                    <div class="result-item">
                        <p class="result-item-field">Time:</p>
                        <p class="result-item-content">{{ reservation.time }}</p>
                    </div>
                    <div class="result-item">
                        <p class="result-item-field">Table:</p>
                        <p class="result-item-content">{{ reservation.tablenum }}</p>
                    </div>   
                </div>
            </div>
            <div class="confirmation-box">
                <p>Confirm check in of this reservation?</p>
                <form action="{% url 'checkin_reservation' reservation_id=reservation.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="confirm" value="yes">Check In</button>
                    <a href="{% url 'viewall_reservations' %}">
                        <button type="button" name="cancel">Cancel</button>
                    </a>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
