{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Reservations</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/ReservationPage.css'%}">
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1><a href="{% url 'home' %}">Seahawk Restaurant</a></h1>
                <nav>
                    <a href="{% url 'reservation_page' %}" id="currentpage">Reservations</a>
                    {% if loggedin == "true" %}
                        {% if role == "employee" %}
                            <a href="{% url 'viewall_reservations' %}">All Reservations</a>
                        {% endif %}
                        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login_page' %}">Login</a>
                    {% endif %}
                </nav>                        
            </header>
            <section class="welcomeuser">
                <!-- Displaying of guest's first name, otherwise referring to customer as Guest -->
                <h2>Welcome, 
                    {% if firstname %}
                        {{ firstname }}
                    {% else %}
                        Guest
                    {% endif %}</h2>
            </section>
            <!-- Section that contains the "body" of the form; separated into form-body which contains the form labels and inputs, 
             and then the visual to go alongside it -->
            <section class="reservationform">
                <h3>Make Reservation</h3>
                <div class="form-body">
                    <!-- if we need to display some error messages or something -->
                    {% if messages %}
                        <div class="form-body">
                            {% for message in messages %}
                                <div class="message {{ message.tags }}"></div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form action="{% url 'reservation_page' %}" method="POST" id="reservation">
                            {% csrf_token %}
                            {% if loggedin != "true" %}
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" id="firstname" name="firstname" required> 
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" id="lastname" name="lastname" required> 
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" id="email" name="email" placeholder="johndoe@mail.com"> 
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="phone" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx">
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="resdate">Reservation Date</label>
                                <input type="date" id="resdate" name="resdate" placeholder="mm/dd/yyyy" required> 
                            </div>
                            <div class="form-group">
                                <label for="restime">Reservation Time</label>
                                <select id="restime" name="restime" required>
                                    <option value="16:00">4:00pm</option>
                                    <option value="16:30">4:30pm</option>
                                    <option value="17:00">5:00pm</option>
                                    <option value="17:30">5:30pm</option>
                                    <option value="18:00">6:00pm</option>
                                    <option value="18:30">6:30pm</option>
                                    <option value="19:00">7:00pm</option>
                                    <option value="19:30">7:30pm</option>
                                    <option value="20:00">8:00pm</option>
                                    <option value="20:30">8:30pm</option>
                                    <option value="21:00">9:00pm</option>
                                    <option value="21:30">9:30pm</option>
                                    <option value="22:00">10:00pm</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tablenumber">Table Number</label>
                                <!-- Added value to pre-fill form, made read only -->
                                <input type="text" id="tablenumber" name="tablenumber" value="{{ tablenumber }}"> 
                            </div>
                            <!-- Form section for viewing available tables -->
                            <div class="form-group">
                                <label for="table_statuses">Table Statuses</label>
                                <a href="{% url 'table_statuses' %}" class="button">View Available Tables</a>
                            </div>
                    </form>
                    <div class="visual">
                        <p>placeholder</p>
                    </div>
                </div>
                <button type="submit" form="reservation">Reserve</button>
            </section>
            <!-- Section that contains search button below the main form section -->
            <section class="search">
                <h3>Already have a reservation?</h3>
                <a href="{% url 'search_page' %}">Search</a>
            </section>
        </div>    
    </main>
</body>