{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Reservations</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/ConfirmPage.css'%}">
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1>Seahawk Restaurant</h1>
                <nav>
                    <a href="{% url 'reservation_page' %}">Reservations</a>
                    {% if loggedin == "true" %}
                        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login_page' %}">Login</a>
                    {% endif %}
                </nav>                             
            </header>
            <section class="confirmation">
                <h3>Reservation Confirmed</h3>
                <hr>
                <div class="reservation-body">
                    <p>Thank you for your reservation!</p>
                    <p class="info">Table <span class="res-data">{{ reservation.tablenum }}</span>
                        is reserved for <span class="res-data">{{ reservation.reservedBy.first_name }} {{ reservation.reservedBy.last_name }}</span> 
                        on <span class="res-data">{{ reservation.date }}</span>
                        at <span class="res-data">{{ reservation.time }}</span></p>
                </div>
            </section>
        </div>    
    </main>
</body>