{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Reservations</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/ReservationPage.css}">
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1>Seahawk Restaurant</h1>
                <nav>
                    <a href="../ReservationComponent/ReservationPage.html">Reservations</a>
                    <a href="../LoginComponent/LoginPage.html">Login</a>
                </nav>
            </header>
        </div>
        <section class="reservationform">
            <h3>Make Reservation</h3>
            <form action="placeholder" method="POST">
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname"> 
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="firstname" name="firstname"> 
                </div>
                <div class="form-group">
                    <label for="resdate">Reservation Date</label>
                    <input type="date" id="resdate" name="resdate" placeholder="mm/dd/yyyy"> 
                </div>
                <div class="form-group">
                    <label for="restime">Reservation Time</label>
                    <input type="time" id="restime" name="restime"> 
                </div>
                <div class="form-group">
                    <label for="tablenumber">Table Number</label>
                    <input type="text" id="tablenumber" name="tablenumber"> 
                </div>
            </form>
        </section>
    </main>
</body>