{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - View Reservations</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/ReservationViewAll.css'%}">
</head>
<body>
    <main class="main">
        <div class="container">
            {% if messages %}
            <div class="message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <header>
                <h1><a href="{% url 'home' %}">Seahawk Restaurant</a></h1>
                <nav>
                <a href="{% url 'reservation_page' %}">Reservations</a>
                {% if loggedin == "true" %}
                        {% if role == "employee" %}
                            <a href="{% url 'viewall_reservations' %}" id="currentpage">All Reservations</a>
                        {% endif %}
                        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login_page' %}">Login</a>
                    {% endif %}
                </nav>  
            </header>
            <!-- Filter Criteria Box-->
            <div class="filter">
                <h3>Filter Reservations</h3>
                <form action="{% url 'viewall_reservations' %}" method="POST" id="filter">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstname"> First name: </label>
                        <input type="text" name="firstname" id="firstname" pattern="[a-zA-Z\s\u002D]+" title="Only alphabetical and hyphen characters">
                    </div>
                    <div class="form-group">
                        <label for="lastname"> Last name: </label>
                        <input type="text" name="lastname" id="lastname" pattern="[a-zA-Z\s\u002D]+" title="Only alphabetical and hyphen characters">
                    </div>
                    <div class="form-group">
                        <label for="res_date"> Date: </label>
                        <input type="date" name="res_date" id="res_date">
                    </div>
                    <div class="form-group">
                        <label for="res_time"> Time: </label>
                        <select id="res_time" name="res_time">
                            <option value="" selected>Select Time</option>
                            <option value="16:00:00">4:00pm</option>
                            <option value="16:30:00">4:30pm</option>
                            <option value="17:00:00">5:00pm</option>
                            <option value="17:30:00">5:30pm</option>
                            <option value="18:00:00">6:00pm</option>
                            <option value="18:30:00">6:30pm</option>
                            <option value="19:00:00">7:00pm</option>
                            <option value="19:30:00">7:30pm</option>
                            <option value="20:00:00">8:00pm</option>
                            <option value="20:30:00">8:30pm</option>
                            <option value="21:00:00">9:00pm</option>
                            <option value="21:30:00">9:30pm</option>
                            <option value="22:00:00">10:00pm</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tablenum"> Table Number: </label>
                        <input type="number" name="tablenum" id="tablenum" min="1" max="15">
                    </div>
                    <input type="submit" id="submit" for="filter" value="Filter">
                </form>
            </div>
            <!-- Results box -->
            <div class="results">
                <h3>Results</h3>
                {% if reservations %}
                    {% for reservation in reservations %}
                        <div class="result-group">
                            <p class="result-number">{{ forloop.counter }}</p>
                            <div class="result-text">
                                <div class="result-item"><p class="result-item-field">Name:</p><p class="result-item-content">{{reservation.reservedBy.first_name}} {{reservation.reservedBy.last_name}}</p></div>
                                <div class="result-item"><p class="result-item-field">Date:</p><p class="result-item-content">{{reservation.date}}</p></div>
                                <div class="result-item"><p class="result-item-field">Time:</p><p class="result-item-content">{{reservation.time}}</p></div>
                                <div class="result-item"><p class="result-item-field">Table:</p><p class="result-item-content">{{reservation.tablenum}}</p></div>
                            </div>
                            <div class="result-text">
                                <div class="result-item"><p class="result-item-field">Email:</p><p class="result-item-content">{{reservation.reservedBy.email}}</p></div>
                                <div class="result-item"><p class="result-item-field">Phone:</p><p class="result-item-content">{{reservation.reservedBy.resuser.phonenumber}}</p></div>
                            </div>
                            <div class="result-options">
                                {% if not reservation.checked_in %}
                                    <a href="{% url 'checkin_reservation' reservation_id=reservation.id %}">Check In</a>
                                {% else %}
                                    <p>Checked In</p>
                                {% endif %}
                                <a href="{% url 'modify_reservation' reservation_id=reservation.id %}">Modify</a>
                                <a href="{% url 'remove_reservation' reservation_id=reservation.id %}">Remove</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="noresults">
                        <p>No reservations were found 
                            {% if firstname or lastname or res_date or res_time or tablenum %} 
                            with criteria " {{ firstname }} {{ lastname }} {{ res_date }} {{ res_time }} {{ tablenum }} " 
                            {% endif %}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>