{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Reservations</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/ReservationPage.css'%}">
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1><a href="{% url 'home' %}">Seahawk Restaurant</a></h1>
                <nav>
                    <a href="{% url 'reservation_page' %}" id="currentpage">Reservations</a>
                    {% if loggedin == "true" %}
                        {% if role == "employee" %}
                            <a href="{% url 'viewall_reservations' %}">All Reservations</a>
                        {% endif %}
                        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login_page' %}">Login</a>
                    {% endif %}
                </nav>                        
            </header>
            <section class="welcomeuser">
                <!-- Displaying of guest's first name, otherwise referring to customer as Guest -->
                <h2>Welcome, {{ welcomename }}</h2>
            </section>
            <!-- Section that contains the "body" of the form; separated into form-body which contains the form labels and inputs, 
             and then the visual to go alongside it -->
            <section class="reservationform">
                <h3>Make Reservation</h3>
                <!-- if we need to display some error messages or something -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="messages">
                             <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-body">   
                    <form action="{% url 'reservation_page' %}" method="POST" id="reservation">
                        {% csrf_token %}
                            <!-- Form section for viewing available tables -->
                            <div class="form-group">
                                <label for="table_statuses">Table Selection</label>
                                <a href="{% url 'table_statuses' %}">Select Table and Time Here</a>
                            </div>
                            <div class="form-group">
                                <label for="resdate">Reservation Date</label>
                                <input type="date" id="resdate" name="resdate" {% if resdate %} value="{{ resdate }}" {% endif %} readonly required> 
                            </div>
                            <div class="form-group">
                                <label for="restime">Reservation Time</label>
                                <select id="restime" name="restime" required>
                                    <option value="None" {% if not restime %} selected {% else %} disabled {% endif %}>Select From Selection Page</option>
                                    <option value="16:00:00" {% if restime == "16:00:00" %} selected {% else %} disabled {% endif %}>4:00pm</option>
                                    <option value="16:30:00" {% if restime == "16:30:00" %} selected {% else %} disabled {% endif %}>4:30pm</option>
                                    <option value="17:00:00" {% if restime == "17:00:00" %} selected {% else %} disabled {% endif %}>5:00pm</option>
                                    <option value="17:30:00" {% if restime == "17:30:00" %} selected {% else %} disabled {% endif %}>5:30pm</option>
                                    <option value="18:00:00" {% if restime == "18:00:00" %} selected {% else %} disabled {% endif %}>6:00pm</option>
                                    <option value="18:30:00" {% if restime == "18:30:00" %} selected {% else %} disabled {% endif %}>6:30pm</option>
                                    <option value="19:00:00" {% if restime == "19:00:00" %} selected {% else %} disabled {% endif %}>7:00pm</option>
                                    <option value="19:30:00" {% if restime == "19:30:00" %} selected {% else %} disabled {% endif %}>7:30pm</option>
                                    <option value="20:00:00" {% if restime == "20:00:00" %} selected {% else %} disabled {% endif %}>8:00pm</option>
                                    <option value="20:30:00" {% if restime == "20:30:00" %} selected {% else %} disabled {% endif %}>8:30pm</option>
                                    <option value="21:00:00" {% if restime == "21:00:00" %} selected {% else %} disabled {% endif %}>9:00pm</option>
                                    <option value="21:30:00" {% if restime == "21:30:00" %} selected {% else %} disabled {% endif %}>9:30pm</option>
                                    <option value="22:00:00" {% if restime == "22:00:00" %} selected {% else %} disabled {% endif %}>10:00pm</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tablenumber">Table Number</label>
                                <!-- Added value to pre-fill form, made read only -->
                                <input type="text" id="tablenumber" name="tablenumber" min="1" max="10" placeholder="Select From Selection Page" {% if tablenumber %} value="{{ tablenumber }}" {% endif %} readonly> 
                            </div>
                            {% if loggedin != "true" or role == "employee" %}
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" id="firstname" name="firstname" minlength="1" maxlength="20" pattern="[A-Za-z\s]+" required> 
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" id="lastname" name="lastname" minlength="1" maxlength="20" pattern="[A-Za-z\s]+" required> 
                                </div>
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <input type="email" id="email" name="email" placeholder="johndoe@mail.com"> 
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input type="phone" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx">
                                </div>
                            {% endif %}
                    </form>
                <div class="visual">
                    <img src="{% static 'images/table-map.jpg' %}" alt="Table Map">
                </div>
                </div>
                <button type="submit" form="reservation">Reserve</button>
            </section>
            <!-- Section that contains search button below the main form section -->
             {% if loggedin == 'true' and role == 'user' %}
                <section class="userreservations">
                    <h3>Your Reservations</h3>
                    {% if reservations %}
                        {% for reservation in reservations %}
                        <div class="reservation">
                            <div class="result-number"><p>{{ forloop.counter }}</p></div>
                            <div class="result-text">
                                <div class="result-item"><p class="result-item-field">Name:</p><p class="result-item-content">{{reservation.reservedBy.first_name}} {{reservation.reservedBy.last_name}}</p></div>
                                <div class="result-item"><p class="result-item-field">Date:</p><p class="result-item-content">{{reservation.date}}</p></div>
                                <div class="result-item"><p class="result-item-field">Time:</p><p class="result-item-content">{{reservation.time}}</p></div>
                                <div class="result-item"><p class="result-item-field">Table:</p><p class="result-item-content">{{reservation.tablenum}}</p></div>
                            </div>
                            <div class="result-options">
                                <a href="{% url 'modify_reservation' reservation_id=reservation.id %}">Modify</a>
                                <a href="{% url 'remove_reservation' reservation_id=reservation.id %}">Cancel</a>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="noreservation"><p>You currently do not have any reservations</p></div>
                    {% endif %}
                </section>
            {% elif loggedin == 'false' and role == 'user' %}
            <div class="search-container">
                <section class="search">
                    <h3>Already have a reservation?</h3>
                    <a href="{% url 'search_page' %}">Search</a>
                </section>
            </div>            
            {% endif %}
        </div>    
    </main>
</body>