{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Reservations: search</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/SearchPage.css'%}">
    <!-- gabe adding a search functionality in sepearate html; subject to change/move -->
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1><a href="{% url 'home' %}">Seahawk Restaurant</a></h1>
                <nav>
                    <!-- <a href="../ReservationComponent/ReservationPage.html">Reservations</a> -->
                    <a href="{% url 'reservation_page' %}">Reservations</a>
                    {% if loggedin == "true" %}
                        {% if role == "employee" %}
                            <a href="{% url 'viewall_reservations' %}">All Reservations</a>
                        {% endif %}
                        <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login_page' %}">Login</a>
                    {% endif %}
                </nav>
            </header>
            <!-- div and section could be redundant, but may separate out inner components more later -->
            <section class="searchbar">
                <h3>Search For Reservations</h3>
                <form method="GET" action="{% url 'search_page' %}">
                    <div class="search-holder">
                        <div class="search-field">
                            <label for="search-by-email">Email</label>
                            <input type="email" id="search-by-email" name="search-by-email">
                        </div>
                        <div class="search-field">
                            <label for="search-by-phone">Phone Number</label>
                            <input type="phone" id="search-by-phone" name="search-by-phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx">
                        </div>
                        <button id = "search-button" type="submit">Search</button>
                    </div>
                </form>
                <div class="search-results" id="search-results">
                    <h2>Search Results: </h2>
                    <!-- see old databases project (use unordered list to display result from wide query search) -->
                    <div id="list-of-results">
                        {% if reservations %}
                            {% for reservation in reservations %}
                                <div class="results">
                                    Table {{ reservation.tablenum }} reserved by {{ reservation.reservedBy.first__name }} {{ reservation.reservedBy.last__name }} for {{ reservation.date }} at {{ reservation.time}}.
                                </div>
                            {% endfor %}
                        {% elif errorMessage %}
                            <div class="results">
                                <p>{{ errorMessage }}</p>
                            </div>
                        {% else %}
                            <div class="noresults">
                                <p>No reservations were found 
                                    {% if email or phone %} 
                                    with criteria "Email: {{ email }} and Phone: {{ phone }}" 
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </section>
        </div>
    </main>
</body>
</html>