{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Tables - Seahawk Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/TableStatuses.css' %}">
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1>Seahawk Restaurant</h1>
                <nav>
                    <a href="{% url 'reservation_page' %}">Reservations</a>
                    <!-- <a href="{% url 'login_page' %}">Login</a>
                    <a href="{% url 'registration_page' %}">Register</a> -->
                </nav>
            </header>
            <section class="tablestatuses">
                <h2>Available Tables</h2>
                <!--Table Map Picture-->
                <div class="visual">
                    <img src="{% static 'images/table-map.jpg' %}" id="tablemap" name="tablemap" alt="Table Map">
                </div>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="messages">
                             <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                <!--Search Form-->
                <form method="GET" action="{% url 'table_statuses' %}" id="datetime">
                    <div class="form-group">
                        <label for="resdate">Reservation Date</label>
                        <input type="date" id="resdate" name="resdate" value="{{ date }}" required> 
                    </div>
                    <div class="form-group">
                        <label for="restime">Reservation Time</label>
                        <select id="restime" name="restime" required>
                            <option value="16:00:00" {% if time == "16:00:00" %} selected="selected" {% endif %}>4:00pm</option>
                            <option value="16:30:00" {% if time == "16:30:00" %} selected="selected" {% endif %}>4:30pm</option>
                            <option value="17:00:00" {% if time == "17:00:00" %} selected="selected" {% endif %}>5:00pm</option>
                            <option value="17:30:00" {% if time == "17:30:00" %} selected="selected" {% endif %}>5:30pm</option>
                            <option value="18:00:00" {% if time == "18:00:00" %} selected="selected" {% endif %}>6:00pm</option>
                            <option value="18:30:00" {% if time == "18:30:00" %} selected="selected" {% endif %}>6:30pm</option>
                            <option value="19:00:00" {% if time == "19:00:00" %} selected="selected" {% endif %}>7:00pm</option>
                            <option value="19:30:00" {% if time == "19:30:00" %} selected="selected" {% endif %}>7:30pm</option>
                            <option value="20:00:00" {% if time == "20:00:00" %} selected="selected" {% endif %}>8:00pm</option>
                            <option value="20:30:00" {% if time == "20:30:00" %} selected="selected" {% endif %}>8:30pm</option>
                            <option value="21:00:00" {% if time == "21:00:00" %} selected="selected" {% endif %}>9:00pm</option>
                            <option value="21:30:00" {% if time == "21:30:00" %} selected="selected" {% endif %}>9:30pm</option>
                            <option value="22:00:00" {% if time == "22:00:00" %} selected="selected" {% endif %}>10:00pm</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="submit" for="datetime">Check</button>
                    </div>
                </form>
                <!--Search Results-->
                <table>
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Capacity</th>
                            <th>Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for table in tables %}
                        <tr>
                            <td>
                                <!-- Check if table number is available -->
                                {% if table.availability == "Available" %}
                                    <div class="button">
                                        <a href="{% url 'reservation_page' %}?tablenumber={{ table.number }}&restime={{ urltime }}&resdate={{ date }}" class="button">{{ table.number }}</a>
                                    </div>
                                <!-- If table number is reserved, do not display clickable button -->
                                {% else %}
                                <button class="button" disabled>{{ table.number }}</button>
                                {% endif %}
                            </td>
                            <td>{{ table.capacity }}</td>
                            <td>{{ table.availability }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</body>
</html>