{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/LoginPage.css' %}">
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1><a href="{% url 'home' %}">Seahawk Restaurant</a></h1>
                <nav>
                    <a href="{% url 'reservation_page'%}">Reservations</a>
                    <a href="{% url 'login_page' %}" id="currentpage">Login</a>
                </nav>
            </header>
            <section class="login-container">
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <section class="login">
                    <h2>Login</h2>
                    <form action="{% url 'login_page' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <div class="links">
                        <p>Don't have an account? <a href="{% url 'registration_page' %}">Register here</a></p>
                    </div>
                </section>
            </section>
        </div>
    </main>
</body>
</html>
