{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seahawk Restaurant - Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/RegisterPage.css' %}">
</head>
<body>
    <main class="main">
        <div class="container">
            <header>
                <h1><a href="{% url 'home' %}">Seahawk Restaurant</a></h1>
                <nav>
                    <a href="{% url 'reservation_page'%}">Reservations</a>
                    <a href="{% url 'login_page' %}" id="currentpage">Login</a>
                </nav>
            </header>

            <section class="registration">
                <h2>Register</h2>
                <form action="{% url 'register_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="firstname">First name:</label>
                        <input type="text" id="firstname" name="firstname" pattern="[a-zA-Z\s\u002D]+" title="Only alphabetical and hyphen characters" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last name:</label>
                        <input type="text" id="lastname" name="lastname" pattern="[a-zA-Z\s\u002D]+" title="Only alphabetical and hyphen characters" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address:</label>
                        <input type="email" id="email" name="email" placeholder="johndoe@mail.com" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="repassword">Confirm Password:</label>
                        <input type="password" id="repassword" name="repassword" required>
                    </div>
                    <button type="submit">Register</button>
                </form>
            </section>
        </div>
    </main>
</body>
</html>